@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Open+Sans:wght@400;600;700&family=Nunito:wght@600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #1A1A1A;
  --primary-button: #00BD82;
  --primary: #0205D3;
  --success: #17DB4E;
  --surface: #F9FAFB;
  --stroke-color: #E5E7EA;
  --destructive: #FF0000;
  --alert: #FAB515;
  --text-default: #1A1A1A;
  --text-secondary: #525252;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Open Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
